# subabase connection type: transaction pooler

HOST = your_host_here: something.something
PORT = your_port_here: 1234
USER = your_user_here: user
DATABASE = your_database_here: database
PASSWORD = your_password_here: 1234567890