API Access Licence

Copyright (c) 2026 Dawa-Dawa National High School

This is to certify that "User Name" has access to the API Server of Dawa-Dawa National High School
Granting Parcial access to his/her project, entitled "Project Name" version "Project Version".

"Random 1 and 0"

This Licence is Issued on "Date and Time Issued",
And it will be Valid till "Date and Time End of Term".

The above copyright notice and this permission notice shall not be included in all
copies or substantial portions of the Software, for this is a single user access.

Invalidation of Licence Consist of:
- "Modified Licence", Falsifying a Licence will be denoted as invalid Licence.
- "Duplicate Licence" aside from the original will be denoted as invalid Licence.
- "Unregisterd Licence", Unrecognized Licence will be denoted as invalid Licence.
- "Exprired Licence", Licence that are not up to date is denoted as invalid Licence.

THE API IS PROVIDED TO GAIN ACCESS "AS IS", AND THIS LICENCE SERVES AS YOUR ACCESS POINT,
THOUGH KEEP IN MIND THAT THIS LICENCE DONT HAVE A WARRANT, ANY CONCERN REGARDING THIS MATTER
SHALL BE APPOINTED DIRECTLY TO THE ADMINISTRATIVE.